@import "tailwindcss";

@font-face {
  font-family: "Neue Haas Display";
  src: url("/fonts/NeueHaasDisplayMedium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 600;
}

body,
h1,
h2,
h3,
h4 {
  font-family: "Neue Haas Display", sans-serif;
}

input::placeholder {
  opacity: 1 !important;
}
